version: "3.8"

services:
  db:
    image: mariadb:10.6
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: password

  adminer:
    depends_on:
      - db
    image: adminer:latest
    restart: always
    ports:
      - "8080:8080"
  php:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    depends_on:
      - db
    expose:
      - 9000
    volumes:
      - .:/usr/local/src/webapp
      #- ./docker/php/php-fpm.conf:/usr/local/etc/php-fpm.d/www.conf
  nginx:
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile
    depends_on:
      - php
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf